<div class="container-fluid">
  <div class="row flex-nowrap">

    <div class="book">
      <h2>Bookstore Management System</h2>
      <div class="text">
        <p class="lead"></p>
        <ul class="list-unstyled">
          <li>
            <h3>"Bookstore are dreams built of wood and paper.
              <br>
              They are time travel and escape and
              knowledge and power.
              <br>
              They are, simply put, the best of places"
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>